name: documentation

on:
  push:
    branches:
      - "master"
    paths:
      - "www/**"
      - ".github/workflows/documentation.yml"

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Add key to allow access to repository
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "${{ secrets.GH_PAGES_DEPLOY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat <<EOT >> ~/.ssh/config
          Host github.com
          HostName github.com
          IdentityFile ~/.ssh/id_rsa
          EOT
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
          ALGOLIA_KEY: ${{ secrets.ALGOLIA_KEY }}
        run: |
          git config --global user.email "bot@aevea.io"
          git config --global user.name "aevea-bot"
          cd www
          yarn
          yarn deploy
