name: Release
on:
  push:
    tags:
      - "v*"

jobs:
  release-notary:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release Notary Action
        uses: docker://outillage/release-notary:0.9.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}